<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/main.css" />
  <title>Author home page</title>
</head>

<body>
  <div class="h-screen w-[100%] bg-gradient-to-b from-indigo-900 to-cyan-500 flex flex-col justify-between">
    <%- include('../components/header',{ backLink : '/' }) %>
      <div class="flex flex-col items-center justify-center">
        <div class=" flex flex-col items-center text-white mb-10">
          <h1 class="text-6xl font-bold mb-2">Author Dashboard</h1>
          <h2 class="text-2xl font-semibold">
            <%= user.blog_title %>
          </h2>
          <span class="text-xl text-gray-400">by <span class="font-semibold">
              <%= user.name %>
            </span></span>
        </div>
        <div class="flex gap-10 justify-center"> <!-- Adjusted justify-center -->
          <a href="/author/articles/published"
            class="w-72 text-white border border-indigo-900 rounded-lg shadow-md hover:bg-indigo-800 hover:border-indigo-800 transition duration-300 ease-in-out flex items-center justify-center text-2xl font-medium py-6 px-8">
            Published Articles
          </a>
          <a href="/author/articles/draft"
            class="w-72 text-white border border-indigo-900 rounded-lg shadow-md hover:bg-indigo-800 hover:border-indigo-800 transition duration-300 ease-in-out flex items-center justify-center text-2xl font-medium py-6 px-8">
            Draft Articles
          </a>
          <a href="/author/settings"
            class="w-72 text-white border border-indigo-900 rounded-lg shadow-md hover:bg-indigo-800 hover:border-indigo-800 transition duration-300 ease-in-out flex items-center justify-center text-2xl font-medium py-6 px-8">
            Settings
          </a>
        </div>
      </div>
      <%- include('../components/footer') %>
  </div>
</body>

</html>