<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <!-- <link rel="stylesheet" href="/styles.css"> -->
    <title>Add User</title>
</head>

<body class="bg-gray-100 flex items-center justify-center">
    <div class="flex justify-center mt-32 mx-auto h-fit w-fit bg-white">
        <div class="w-96 flex flex-col items-center rounded border shadow">
            <div class="bg-blue-600 w-full p-8 rounded-t">
                <h1 class="mx-auto w-fit text-2xl font-bold">Sign Up</h1>
            </div>
            <div class="p-8 w-full">
                <form action="add-user" method="post">
                    <div class="flex flex-col gap-2">
                        <label for="name">User</label>
                        <input id="name" type="text" name="name" autocomplete="username"
                            class="border rounded p-2 outline-none focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" />
                        <label for="email">Email <span class=" text-red-500">*</span></label>
                        <input id="email" type="email" name="email" autocomplete="email" required
                            class="border rounded p-2 outline-none focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" />
                        <label for="password">Password <span class=" text-red-500">*</span></label>
                        <input id="password" type="password" name="password" autocomplete="new-password" required
                            class="border rounded p-2 outline-none focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" />
                    </div>
                    <button type="submit"
                        class="mt-6 ml-auto flex bg-blue-500 text-white py-2 px-4 rounded hover:bg-opacity-75 transition duration-300 ease-in-out">Sign
                        up</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>