<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <title>Error page</title>
</head>

<body>
    <div class="h-screen w-[100%] bg-gradient-to-b from-indigo-900 to-cyan-500 flex flex-col justify-between">
        <%- include('components/header',{ backLink : url }) %>

            <main>
                <!-- Main content of your page -->
                <div class="text-gray-400 flex flex-col flex-1 items-center justify-center">
                    <h1 class="text-6xl font-bold ">
                        <%= errorMessage %>
                    </h1>
                    <p class=" text-xl">Sorry, there was an error loading the page.</p>
                </div>
            </main>


            <%- include('components/footer') %>
    </div>
</body>

</html>