<footer>
  <div id="popupMessage"
    class="fixed bottom-4 left-1/2 transform -translate-x-1/2 bg-white text-sm p-4 rounded-md shadow-md hidden z-50">
    <span id="popupText"></span>
  </div>
  <div class="w-fit mx-auto">
    <!-- Your footer content here -->
    <p>&copy; 2024 All rights reserved.</p>
  </div>
</footer>